<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{brand.name}}</title>
</head>
<body>
    <nav>
        <a href="/">Go to home</a>
        <a href="/brands">Back to brands</a>
    </nav>

    <div> <img src={{brand.logo}} alt=""></div>
    <h3>Name {{brand.name}}</h3>
    <h3>Location {{brand.location}}</h3>
    <h3>avg_horsepower {{brand.avg_horsepower}}</h3>
    <h3>avg_price {{brand.avg_price}}</h3>


</body>
</html>