<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Marcas</title>


</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
        <a href="/auth/login">Conectarse</a>
        <a href="/auth/register">Registro</a>
        <a href="/brands/create-brand">Nueva marca</a>
    </nav>
    <h1>Bienvenido!, éstas son las marcas con las que trabajamos</h1>
    <ul>
        {{#each brands}}
            <li>
                <div> <img src={{logo}} alt=""></div>
                <h3>Nombre {{name}}</h3>
                <h3>Sede {{location}}</h3>
                <h3>Promedio cv {{avg_horsepower}}</h3>
                <h3>Promedio precios {{avg_price}}</h3>
                <a href="/models">Ver modelos</a> (aquí tengo que poner /models/{{_id}})
 
                {{#if image}}
                    <img src={{image}} alt="imagen">
                 {{/if}}  (multer)

                <form method="POST" action="/brands/{{_id}}">
                     <button type="submit">Eliminar</button>
                </form>
            </li>
            <hr />
        {{/each}}
    </ul>
</body>
</html>


