<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Create New Brand</title>
</head>
<body>
        <nav>
        <a href="/">Inicio</a>
        <a href="/brands">Marcas</a>

        </nav>
        <form action="/brands/create" method="POST" enctype="multipart/form-data">
            <div>
                <label>
                    Name <input type="text" name="name" placeholder="Brand name">
                </label>
            </div>
            <div>
                <label>
                    Location <input type="text" name="location" placeholder="Brand location">
                </label>
            </div>
            <div>
                <label>
                    Average horsepower <input type="number" name="avg_horsepower" placeholder="Brand avg horsepower">
                </label>
            </div>
            <div>
                <label>
                    Average price <input type="number" name="avg_price" placeholder="Brand avg price">
                </label>
            </div>
            <div>
                <label>
                    Logo <input type="text" name="logo"> 
                    {{!-- (cambiár a tipo file y el name tiene que concidir con el que hemos puesto en upload.signle('') para multer) --}}
                </label>
            </div>

            <input type="submit" value="Create Brand">
        </form>
</body>
</html>


