<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Create New Model</title>
</head>
<body>
        <nav>
        <a href="/">Inicio</a>
        <a href="/brands">Marcas</a>

        </nav>
        <form action="/models/create" method="POST" enctype="multipart/form-data">
            <div>
                <label>
                    Marca <input type="text" name="name" placeholder="make">
                </label>
            </div>
            <div>
                <label>
                    Modelo <input type="text" name="model" placeholder="model">
                </label>
            </div>
             <div>
                <label>
                    Año <input type="number" name="year" placeholder="year">
                </label>
            </div>
            <div>
                <label>
                    Cilindrada <input type="number" name="horsepower" placeholder="horsepower">
                </label>
            </div>
            <div>
                <label>
                    Precio <input type="number" name="price" placeholder="price">
                </label>
            </div>
            <div>
                <label>
                    Logo <input type="text" name="logo"> 
                    {{!-- (cambiár a tipo file y el name tiene que concidir con el que hemos puesto en upload.signle('') para multer) --}}
                </label>
            </div>

            <input type="submit" value="Create Model">
        </form>
</body>
</html>


