<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{status}}!</title>
</head>
<body>
    <h1>Error {{status}} en el servidor</h1>
    <h3>{{message}}</h3>
</body>
</html>