<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Inicio</title>
</head>
<body>
    <h1>PÁGINA PRINCIPAL</h1>
    <h2>{{brands}}</h2>
    <nav>
        <a href="/brands">Marcas</a>
        <a href="/auth/login">Conectarse</a>
        <a href="/auth/register">Registro</a>

    </nav>

    {{#if user}}
        <div>Hola, {{user.username}}</div>

        <form action="/auth/logout" method="POST">
            <button type="submit">Desconectarse</button>
        </form>
    {{/if}}
</body>
</html>



