<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
        <nav>
        <a href="/">Inicio</a>
        </nav>
     <form action="/auth/login" method="POST">
            <div>
                <label>
                    Email <input type="email" name="email" placeholder="Email">
                </label>
            </div>
            <div>
                <label>
                    Password <input type="password" name="password" placeholder="Password">
                </label>
            </div>
      
            <input type="submit" value="Login">
        </form>
</body>
</html>