<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{brand.name}}</title>
</head>
<body>
        <nav>
        <a href="/">Inicio</a>
        <a href="/brands">Volver</a>
    </nav>
        <ul>
        {{#each models}}
            <li>
                <div> <img src="{{image}}" alt=""></div>
                <h3>Marca: {{make}}</h3>
                <h3>Modelo: {{model}}</h3>
                <h3>Año: {{year}}</h3>
                <h3>Cilindrada: {{horsepower}} cv</h3>
                <h3>Precio {{price}}€</h3>
                <a href="/model">Comprar</a> (modifico model para que aparezca un solo coche y el botón de comprar)

                <form method="POST" action="/brands/{{_id}}">
                     <button type="submit">Eliminar</button>
                </form>
            </li>
            <hr />
        {{/each}}
    </ul>


</body>
</html>

