<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Go to home</a>
        <a href="/brands">Back</a>
    </nav>

    Aquí quiero que aparezcan los modelos de la marca seleccionada
    Para que se vea, tengo que meterle -res.render('brand'm { brand }) al router.get /:id a brands pero claro, quiero que aparezcan models
</body>
</html>