<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
        <nav>
        <a href="/">Inicio</a>
        </nav>
     <form action="/auth/register" method="POST">
            <div>
                <label>
                    Nombre de usuario <input type="text" name="username" placeholder="Nombre de usuario">
                </label>
            </div>
            <div>
                <label>
                    Email <input type="email" name="email" placeholder="Email">
                </label>
            </div>
            <div>
                <label>
                    Contraseña <input type="password" name="password" placeholder="Contraseña">
                </label>
            </div>
      
            <input type="submit" value="Registro">
        </form>
</body>
</html>